In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
users = pd.read_csv('/Users/t2023-m0017/Desktop/실습/프로젝트/최종프로젝트/3차/users.csv')
events = pd.read_csv( '/Users/t2023-m0017/Desktop/실습/프로젝트/최종프로젝트/3차/events.csv')
order_items = pd.read_csv( '/Users/t2023-m0017/Desktop/실습/프로젝트/최종프로젝트/3차/order_items.csv')
products = pd.read_csv('/Users/t2023-m0017/Desktop/실습/프로젝트/최종프로젝트/3차/products.csv')

In [26]:
events.head()

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,2198523,NaN,3,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1,1773216,NaN,3,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
2,2380515,NaN,3,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
3,2250597,NaN,3,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
4,1834446,NaN,3,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel

In [4]:
users.head()

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,457,Timothy,Bush,timothybush@example.net,65,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00
1,6578,Elizabeth,Martinez,elizabethmartinez@example.com,34,F,Acre,1705 Nielsen Land,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2023-11-08 18:49:00+00:00
2,36280,Christopher,Mendoza,christophermendoza@example.net,13,M,Acre,125 Turner Isle Apt. 264,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Email,2019-08-24 06:10:00+00:00
3,60193,Jimmy,Conner,jimmyconner@example.com,64,M,Acre,0966 Jose Branch Apt. 008,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2020-02-15 11:26:00+00:00
4,64231,Natasha,Wilson,natashawilson@example.net,25,F,Acre,20798 Phillip Trail Apt. 392,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2020-03-13 06:45:00+00:00

In [6]:
users[users['id']==45469]

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
16082,45469,Abigail,Johnston,abigailjohnston@example.com,25,F,Centre-Val de Loire,5768 Lang Corner Suite 804,37530,Souvigny-de-Touraine,France,47.451214,1.020906,Organic,2019-09-01 03:01:00+00:00

In [7]:
pd.set_option('display.max_columns', None)
events_user_id_45469 = events[events['user_id']==45469].sort_values(by = 'created_at')

In [8]:
events_user_id_45469

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
808641,593944,45469.0,1,6438ad77-15d3-4b93-ad96-fac125d1f792,2021-10-06 23:39:01+00:00,222.136.183.4,Souvigny-de-Touraine,Centre-Val de Loire,37530,Chrome,Organic,/home,home
1424988,593945,45469.0,2,6438ad77-15d3-4b93-ad96-fac125d1f792,2021-10-06 23:39:56+00:00,222.136.183.4,Souvigny-de-Touraine,Centre-Val de Loire,37530,Chrome,Organic,/department/women/category/outerwear&coats/bra...,department
1755726,593946,45469.0,3,6438ad77-15d3-4b93-ad96-fac125d1f792,2021-10-06 23:42:45+00:00,222.136.183.4,Souvigny-de-Touraine,Centre-Val de Loire,37530,Chrome,Organic,/product/8770,product
1394306,593947,45469.0,4,6438ad77-15d3-4b93-ad96-fac125d1f792,2021-10-06 23:44:08+00:00,222.136.183.4,Souvigny-de-Touraine,Centre-Val de Loire,37530,Chrome,Organic,/cart,cart
246282,593948,45469.0,5,6438ad77-15d3-4b93-ad96-fac125d1f792,2021-10-06 23:44:41+00:00,222.136.183.4,Souvigny-de-Touraine,Centre-Val de Loire,37530,Chrome,Organic,/purchase,purchase

In [9]:
events_user_id_45469[['uri','event_type']].value_counts()

uri                                                  event_type
/cart                                                cart          1
/department/women/category/outerwear&coats/brand/sz  department    1
/home                                                home          1
/product/8770                                        product       1
/purchase                                            purchase      1
dtype: int64

In [10]:
order_items[order_items['user_id']==45469]

,id,order_id,user_id,product_id,inventory_item_id,status,created_at,shipped_at,delivered_at,returned_at,sale_price
141398,82517,56760,45469,8770,222684,Complete,2021-10-06 23:45:56+00:00,2021-10-07 23:23:00+00:00,2021-10-12 21:34:00+00:00,NaN,76.989998

In [11]:
products[products['id']==8770]
# events에 있던 uri : /department/women/category/outerwear&coats/brand/sz

,id,cost,category,name,brand,retail_price,department,sku,distribution_center_id
24524,8770,33.567639,Outerwear & Coats,SZ New Fashion Women Woolen Warm Winter Coat L...,SZ,76.989998,Women,BE4E02AC094A09D32E3C09B34F3883A2,9

### event 컬럼 분석
    # 2.events.csv
    # 칼럼:
    # id: 각 이벤트에 대한 고유 식별자.
    # user_id: 이벤트와 관련된 사용자의 식별자.
    # sequence_number: 이벤트의 시퀀스 번호.
    # session_id: 이벤트가 발생한 세션의 식별자.
    # created_at: 이벤트가 언제 발생했는지를 나타내는 타임스탬프.
    # ip_address: 이벤트가 시작된 IP 주소.
    # city: 사건이 발생한 도시.
    # state: 사건이 발생한 곳.
    # postal_code: 행사 장소의 우편 번호.
    # browser: 행사 중에 사용된 웹 브라우저.
    # traffic_source: 행사로 이어지는 교통의 원천.
    # uri: 이벤트와 관련된 균일한 자원 식별자.
    # event_type: 기록된 이벤트 유형.

In [12]:
events.columns

Index(['id', 'user_id', 'sequence_number', 'session_id', 'created_at',
       'ip_address', 'city', 'state', 'postal_code', 'browser',
       'traffic_source', 'uri', 'event_type'],
      dtype='object')

In [13]:
events['uri'].value_counts()
#purchase 구매자 :181759 -> order_items(구입내역이 있는)의 데이터 수와 동일

/cart                                                                  595994
/purchase                                                              181759
/cancel                                                                125568
/home                                                                   87712
/department/women/category/maternity/brand/motherhoodmaternity           3354
                                                                        ...
/department/women/category/fashionhoodies&sweatshirts/brand/citizen         6
/department/women/category/tops&tees/brand/blackmarket-lowbrow              6
/product/11264                                                              6
/department/men/category/outerwear&coats/brand/toesonthenose                5
/department/women/category/sweaters/brand/hotfromhollywood                  3
Name: uri, Length: 35530, dtype: int64

In [14]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181759 entries, 0 to 181758
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   id                 181759 non-null  int64
 1   order_id           181759 non-null  int64
 2   user_id            181759 non-null  int64
 3   product_id         181759 non-null  int64
 4   inventory_item_id  181759 non-null  int64
 5   status             181759 non-null  object
 6   created_at         181759 non-null  object
 7   shipped_at         118281 non-null  object
 8   delivered_at       63841 non-null   object
 9   returned_at        18232 non-null   object
 10  sale_price         181759 non-null  float64
dtypes: float64(1), int64(5), object(5)
memory usage: 15.3+ MB

In [15]:
events_user_80952 = events[events['user_id'] == 80952].sort_values(by = 'created_at')

In [33]:
events_user_80952[events_user_80952['session_id']=='3ab02b7b-a036-4be4-95fb-caa65105af13']

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
1646790,1058947,80952.0,1,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:39:37+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/department/women/category/plus/brand/selininy,department
512067,1058948,80952.0,2,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:39:49+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/product/15472,product
573263,1058949,80952.0,3,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:42:40+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/cart,cart
653978,1058950,80952.0,4,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:43:31+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/department/women/category/plus/brand/selininy,department
2249074,1058951,80952.0,5,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:44:47+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/product/15472,product
1045700,1058952,80952.0,6,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:45:26+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/cart,cart
1622131,1058953,80952.0,7,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:48:22+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/department/women/category/plus/brand/selininy,department
2026415,1058954,80952.0,8,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:49:02+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/product/15472,product
1665463,1058955,80952.0,9,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:51:01+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/cart,cart
1522592,1058956,80952.0,10,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:53:28+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/department/women/category/plus/brand/selininy,department
2373065,1058957,80952.0,11,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:55:19+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/product/15472,product
1640632,1058958,80952.0,12,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-11 01:55:40+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/cart,cart
494857,1058959,80952.0,13,3ab02b7b-a036-4be4-95fb-caa65105af13,2019-11-14 01:55:45+00:00,10.148.195.130,Wuhan,Shanghai,200023,Safari,Adwords,/purchase,purchase

In [34]:
#pd.set_option('display.max_rows', None)
#events_user_80952 #148개
#events_user_80952['id'].nunique() #148개 -> 인덱스 같은 기능
#events_user_80952['sequence_number'].value_counts() # 동일한 섹션 아이디에 대한 활동 수(event수) 13개*3 + 10*3 +7*2
events_user_80952['session_id'].value_counts() # 고유카운트 13개, 13(event)*8(섹션수) + 10*3 +7*2

3ab02b7b-a036-4be4-95fb-caa65105af13    13
7b0e4561-5da6-4172-b376-45787e256915    13
bbeecfd0-488c-4840-9269-1a17cb6b9188    13
ff598998-69d1-40d0-8b2f-86ae6e1677ce    13
0455eb1b-fa6a-49f8-80a8-39fab0b7d399    13
592af389-4de3-4b49-b1a5-cbaf43f36521    13
6e542211-2017-4abc-b92e-40432c013b55    13
9e442c91-98a7-439c-a5ff-7f41b64ba369    13
9b4c4751-024d-4b47-9346-0ee8f158ba42    10
ecccfafe-c297-425b-b333-8e0659ece188    10
b425060f-c261-4ca9-b3a4-deceb82ed455    10
f786262c-6d45-442b-bde7-ce2af39724dd     7
5fd06231-7550-4ef0-80a1-058aca1bee61     7
Name: session_id, dtype: int64

### USER 컬럼분석
 -> 회원가입 정보
7.users.csv

    # 칼럼:
    # id: 각 사용자에 대한 고유 식별자.
    # first_name: 사용자의 이름.
    # last_name: 사용자의 성.
    # email: 사용자의 이메일 주소.
    # age: 사용자의 나이.
    # gender: 사용자의 성별.
    # state: 사용자가 어디에 있는지 상태.
    # street_address: 사용자의 거리 주소.
    # postal_code: 사용자의 우편 번호.
    # city: 사용자가 위치한 도시.
    # country: 사용자가 위치한 국가.
    # latitude: 사용자의 위도 좌표.
    # longitude: 사용자의 경도 좌표.
    # traffic_source: 사용자에게 이어지는 트래픽의 출처.
    # created_at: 사용자 계정이 생성되었을 때를 나타내는 타임스탬프

In [18]:
users.columns

Index(['id', 'first_name', 'last_name', 'email', 'age', 'gender', 'state',
       'street_address', 'postal_code', 'city', 'country', 'latitude',
       'longitude', 'traffic_source', 'created_at'],
      dtype='object')

In [19]:
users.head(10)

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,457,Timothy,Bush,timothybush@example.net,65,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-07-19 13:51:00+00:00
1,6578,Elizabeth,Martinez,elizabethmartinez@example.com,34,F,Acre,1705 Nielsen Land,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2023-11-08 18:49:00+00:00
2,36280,Christopher,Mendoza,christophermendoza@example.net,13,M,Acre,125 Turner Isle Apt. 264,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Email,2019-08-24 06:10:00+00:00
3,60193,Jimmy,Conner,jimmyconner@example.com,64,M,Acre,0966 Jose Branch Apt. 008,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2020-02-15 11:26:00+00:00
4,64231,Natasha,Wilson,natashawilson@example.net,25,F,Acre,20798 Phillip Trail Apt. 392,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2020-03-13 06:45:00+00:00
5,72187,Andrea,Bryant,andreabryant@example.org,47,F,Acre,622 Sims Field,69917-400,Rio Branco,Brasil,-9.945568,-67.835610,Search,2022-05-27 14:53:00+00:00
6,22528,Keith,Barnett,keithbarnett@example.com,64,M,Acre,53908 Amy Fork Apt. 281,69940-000,Sena Madureira,Brasil,-9.857324,-69.437057,Search,2019-03-21 10:58:00+00:00
7,34417,Joanne,Mcpherson,joannemcpherson@example.com,28,F,Acre,53907 John Unions Apt. 099,69940-000,Sena Madureira,Brasil,-9.857324,-69.437057,Search,2024-01-12 19:02:31.096664+00:00
8,50098,Ian,Burke,ianburke@example.net,52,M,Acre,91902 Andrea Stream Apt. 563,69940-000,Sena Madureira,Brasil,-9.857324,-69.437057,Email,2019-04-12 06:11:00+00:00
9,63352,David,Orozco,davidorozco@example.org,18,M,Acre,9576 Dominique Run,69940-000,Sena Madureira,Brasil,-9.857324,-69.437057,Search,2023-10-29 12:33:00+00:00

In [20]:
# traffic_source -> 해당 사이트를 알게된 경로
users['traffic_source'].value_counts()

Search      70075
Organic     15110
Facebook     5816
Email        4947
Display      4052
Name: traffic_source, dtype: int64

In [21]:
# 테이블조인 : events와 users -> event에는 uesrID가 없는 데이터 존재
# 컬럼 중복 : city, state, postal_code, traffic_source
users.rename(columns = {'id':'user_id'},inplace = True)
user_event = pd.merge(users, events, on='user_id', how = 'outer')

In [35]:
user_event.head()

,user_id,first_name,last_name,email,age,gender,state_x,street_address,postal_code_x,city_x,country,latitude,longitude,traffic_source_x,created_at_x,id,sequence_number,session_id,created_at_y,ip_address,city_y,state_y,postal_code_y,browser,traffic_source_y,uri,event_type
0,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6089.0,3.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:19:02+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/product/19914,product
1,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6091.0,5.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:21:03+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/purchase,purchase
2,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6090.0,4.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:20:55+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/cart,cart
3,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6087.0,1.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:15:10+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/home,home
4,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6088.0,2.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:16:31+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/department/men/category/suits&sportcoats/bran...,department

In [43]:
# 전체 데이터 2451919 -> state가 같은 1306292 
#user_event[(user_event['state_x']==user_event['state_y'])]
# state가 다른 경우 1145627
# -> user_id가 없는 경우(비회원)1125671 
user_event[(user_event['state_x']!=user_event['state_y'])][['state_x','state_y']]

        state_x  state_y
5          Acre      NaN
94         Acre      NaN
124        Acre      NaN
185        Acre      NaN
186        Acre      NaN
...         ...      ...
2451914     NaN  England
2451915     NaN  England
2451916     NaN  England
2451917     NaN  England
2451918     NaN  England

[1145627 rows x 2 columns]

In [53]:
user_event.info(verbose=True, null_counts=True)

/var/folders/1y/dmb1rjqn7y7ft_t08s501gxm0000gn/T/ipykernel_19939/4167434682.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  user_event.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2451919 entries, 0 to 2451918
Data columns (total 27 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   user_id           1326248 non-null  float64
 1   first_name        1326248 non-null  object
 2   last_name         1326248 non-null  object
 3   email             1326248 non-null  object
 4   age               1326248 non-null  float64
 5   gender            1326248 non-null  object
 6   state_x           1326248 non-null  object
 7   street_address    1326248 non-null  object
 8   postal_code_x     1326248 non-null  object
 9   city_x            1313875 non-null  object
 10  country           1326248 non-null  object
 11  latitude          1326248 non-null  float64
 12  longitude         1326248 non-null  float64
 13  traffic_source_x  1326248 non-null  object
 14  created_at_x      1326248 non-null  object
 15  id                2431963 non-null  float64
 16  sequence_number   2431963 non-null  float64
 17  session_id        2431963 non-null  object
 18  created_at_y      2431963 non-null  object
 19  ip_address        2431963 non-null  object
 20  city_y            2408883 non-null  object
 21  state_y           2431963 non-null  object
 22  postal_code_y     2431963 non-null  object
 23  browser           2431963 non-null  object
 24  traffic_source_y  2431963 non-null  object
 25  uri               2431963 non-null  object
 26  event_type        2431963 non-null  object
dtypes: float64(6), object(21)
memory usage: 523.8+ MB

In [ ]:
event.info(verbose=True, null_counts=True)

In [54]:
2431963 - 1326248

1105715

In [37]:
# enevt에서 userid가 없는 경우 -> 1125671 
user_event[user_event['user_id'].isna()]

,user_id,first_name,last_name,email,age,gender,state_x,street_address,postal_code_x,city_x,country,latitude,longitude,traffic_source_x,created_at_x,id,sequence_number,session_id,created_at_y,ip_address,city_y,state_y,postal_code_y,browser,traffic_source_y,uri,event_type
1326248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2198523.0,3.0,83889ed2-2adc-4b9a-af5d-154f6998e778,2021-06-17 17:30:00+00:00,138.143.9.202,São Paulo,São Paulo,02675-031,Chrome,Adwords,/cancel,cancel
1326249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1773216.0,3.0,7a3fc3f2-e84f-44fe-8876-eff76741f7a3,2020-08-07 08:41:00+00:00,85.114.141.79,Santa Isabel,São Paulo,07500-000,Safari,Adwords,/cancel,cancel
1326250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2380515.0,3.0,13d9b2fb-eee1-43fd-965c-267b38dd7125,2021-02-15 18:48:00+00:00,169.250.255.132,Mairiporã,São Paulo,07600-000,IE,Adwords,/cancel,cancel
1326251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2250597.0,3.0,96f1d44e-9621-463c-954c-d8deb7fffe7f,2022-03-30 10:56:00+00:00,137.25.222.160,Cajamar,São Paulo,07750-000,Chrome,Adwords,/cancel,cancel
1326252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1834446.0,3.0,d09dce10-a7cb-47d3-a9af-44975566fa03,2019-09-05 01:18:00+00:00,161.114.4.174,São Paulo,São Paulo,09581-680,Chrome,Email,/cancel,cancel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161867.0,1.0,bfb0274e-ceff-458f-a4d6-f9453a4fc72c,2020-07-16 16:13:00+00:00,46.142.185.233,Walsall,England,WS9,Chrome,Email,/product/13702,product
2451915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1396534.0,1.0,bffdad64-b636-4f66-a574-0df70f87d790,2023-03-18 13:49:00+00:00,215.184.4.247,Wolverhampton,England,WV3,Chrome,Email,/product/12953,product
2451916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1704557.0,1.0,81b92fca-427b-4d2d-a7d1-de6a73c116d4,2023-08-24 04:01:00+00:00,213.147.240.3,Wolverhampton,England,WV4,Chrome,Adwords,/product/25985,product
2451917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1341887.0,2.0,c28ca9f3-1045-4e4f-b32b-7ab5d95fe438,2020-04-16 02:34:00+00:00,12.55.111.197,Huntington,England,YO32,Chrome,Email,/product/20513,product
2451918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2373119.0,2.0,d03c95b5-318f-4891-bb7b-b15d1fce4dd6,2022-02-25 09:52:00+00:00,162.174.172.151,Selby,England,YO8,Firefox,Adwords,/product/18825,product

In [24]:
user_event

,user_id,first_name,last_name,email,age,gender,state_x,street_address,postal_code_x,city_x,country,latitude,longitude,traffic_source_x,created_at_x,id,sequence_number,session_id,created_at_y,ip_address,city_y,state_y,postal_code_y,browser,traffic_source_y,uri,event_type
0,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6089.0,3.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:19:02+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/product/19914,product
1,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6091.0,5.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:21:03+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/purchase,purchase
2,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6090.0,4.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:20:55+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/cart,cart
3,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6087.0,1.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:15:10+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/home,home
4,457.0,Timothy,Bush,timothybush@example.net,65.0,M,Acre,87620 Johnson Hills,69917-400,Rio Branco,Brasil,-9.945568,-67.83561,Search,2022-07-19 13:51:00+00:00,6088.0,2.0,72ffc335-a87a-4eb6-9f26-b0e3017b02b2,2023-10-08 13:16:31+00:00,195.81.229.57,Rio Branco,Acre,69917-400,Chrome,Email,/department/men/category/suits&sportcoats/bran...,department
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2451914,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2161867.0,1.0,bfb0274e-ceff-458f-a4d6-f9453a4fc72c,2020-07-16 16:13:00+00:00,46.142.185.233,Walsall,England,WS9,Chrome,Email,/product/13702,product
2451915,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1396534.0,1.0,bffdad64-b636-4f66-a574-0df70f87d790,2023-03-18 13:49:00+00:00,215.184.4.247,Wolverhampton,England,WV3,Chrome,Email,/product/12953,product
2451916,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1704557.0,1.0,81b92fca-427b-4d2d-a7d1-de6a73c116d4,2023-08-24 04:01:00+00:00,213.147.240.3,Wolverhampton,England,WV4,Chrome,Adwords,/product/25985,product
2451917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1341887.0,2.0,c28ca9f3-1045-4e4f-b32b-7ab5d95fe438,2020-04-16 02:34:00+00:00,12.55.111.197,Huntington,England,YO32,Chrome,Email,/product/20513,product
2451918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2373119.0,2.0,d03c95b5-318f-4891-bb7b-b15d1fce4dd6,2022-02-25 09:52:00+00:00,162.174.172.151,Selby,England,YO8,Firefox,Adwords,/product/18825,product